<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
						"http://mybatis.org/dtd/mybatis-3-config.dtd">						
<configuration>
	
	<typeAliases>
		<!-- 给类起别名 -->
		<typeAlias alias = "book" type="entity.Book"/>
	</typeAliases>
	
	<!-- 映射文件 -->
	<mappers>
		<mapper resource="map/BookMap.xml"/>
	</mappers>
</configuration>